<h3>Total SMS Count:</h3> {{ total_sms_count }}

<h3>API Usages:</h3>
{% for key,value in api_usage_count %}
    <p>API-{{ key }}: {{ value }}</p>
{% endfor %}

<h3>API Errors:</h3>
{% for key,value in api_error_percentage %}
    <p>API-{{ key }}: {{ value }}%</p>
{% endfor %}

<h3>Top 10 Most Used Numbers:</h3>
{% for item in top_10_most_used %}
    <p>{{ item.number }}</p>
{% endfor %}

<h3>Search Numbers:</h3>
<form action="/number/search/" method="post">
    <label for="number">Number:</label>
    <input id="number" type="text" name="number">

    <button type="submit">Search</button>
</form>